<div class="col-md-6" id="checkout">
  <div class="box">
    <h1><%= t "check_out" %></h1>
    <div class="content">
      <div class="table-responsive">
        <table class="table" style="text-align: center;">
          <thead>
            <tr>
              <th><%= t ".name" %></th>
              <th><%= t ".quantity" %></th>
              <th><%= t ".unit_price" %></th>
            </tr>
          </thead>
          <tbody class="table-cart">
            <% current_cart.each do |item_cart| %>
              <tr>
                <td><%= item_cart["name"] %></td>
                <td><%= item_cart["quantity"] %></td>
                <td><%= total_price_item item_cart["price"], item_cart["quantity"] %> VND</td>
              </tr>
            <% end %>
          </tbody>
          <tfoot>
            <tr>
              <th colspan="5"><%= t ".total" %></th>
              <th><%= total_cart %> VND</th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
