<div class="col-md-6" id="checkout">
  <div class="box">
    <%= form_for @user.orders.build, html: {id: "form-order" } do |f| %>
      <h1><%= t "check_out" %></h1>
      <div class="content">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="name"><%= t ".name" %></label>
              <%= f.text_field :name, class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="phone"><%= t ".phone" %></label>
              <%= f.text_field :phone, class: "form-control" %>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="address"><%= t ".address" %></label>
              <%= f.text_field :address, class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="note"><%= t ".note" %></label>
              <%= f.text_area :note, class: "form-control" %>
            </div>
          </div>
        </div>
      </div>

      <div class="box-footer">
        <div class="pull-left">
          <a href="<%= carts_path %>" class="btn btn-default"><i class="fa fa-chevron-left"></i><%= t ".back_to_cart" %></a>
        </div>
        <div class="pull-right">
          <button type="submit" class="btn btn-primary"><%= t "place_order" %><i class="fa fa-chevron-right"></i>
          </button>
        </div>
      </div>
    <% end %>
  </div>
</div>
