<% provide :title,  t(".page_title") %>

<div class="panel panel-default panel-table">
  <div class="panel-heading">
    <div class="row">
      <div class="col col-xs-6">
        <h3 class="panel-title"><%= t ".panel_title" %></h3>
      </div>
    </div>
  </div>
  <div class="panel-body ">
  <div class="row">
    <div class="col-md-8">
    <%= form_for [:admin, @product], html: {multipart: true} do |f| %>
      <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="form-group">
          <%= f.label :price %>
          <%= f.number_field :price, class: "form-control" %>
      </div>

       <div class="form-group">
          <%= f.label :quantity %>
          <%= f.number_field :quantity, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :status %>
        <%= f.select :status, options_for_select(["normal", "hot"]),{},
          {class: "form-control"} %>
      </div>

      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :guarantee_info %>
        <%= f.text_field :guarantee_info, class: "form-control" %>
      </div>

      <div class="form-group" id="images">
        <%= f.fields_for :images do |image| %>
          <%= render 'image_fields', f: image %>
        <% end %>

        <div class="links">
          <%= link_to_add_association t(".add_image"), f, :images, class: "btn btn-default" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :category_id %>
        <%= f.collection_select :category_id, Category.order(:name), :id, :name,
          {prompt: true}, {class: "form-control"} %>
      </div>

      <div class="form-group">
        <%= f.label :provider_id %>
        <%= f.collection_select :provider_id, Provider.order(:name), :id, :name,
          {prompt: true}, {class: "form-control"} %>
      </div>

      <%= f.submit t(".create"), class: "btn btn-primary" %>
    <% end %>
    </div>
    <div class="col-md-4">
      <%= render "admin/shared/error_messages", object: @product %>
    </div>
  </div>
  </div>
</div>
