<div class="col-md-4">
  <div class="item">
    <div class="product">
      <div>
        <div class="">
          <a href="#">
            <%= show_image product %>
          </a>
        </div>
      </div>
      <br>
      <div class="text">
        <h3><%= link_to product.name, product %></h3>
        <p class="price"><%= product.price %></p>
        <p class="buttons">
          <%= link_to (t "view_detail" ), product, {:class => "btn btn-default"} %>
          <% if product.quantity > 0 %>
          <a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart"></i><%= t "add_to_cart" %></a>
          <% else %>
          <button class="btn btn-warning"><%= t "sold_out" %></button>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
