<div class="container">
  <div class="col-md-12">
    <div class="row" id="productMain">
      <div class="col-sm-6">
        <div id="mainImage">
          <%= show_image @product %>
        </div>
        <div class="ribbon sale">
          <div class="theribbon">SALE</div>
          <div class="ribbon-background"></div>
        </div>

        <div class="ribbon new">
          <div class="theribbon">NEW</div>
          <div class="ribbon-background"></div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="box">
          <h1 class="text-center"><%= @product.name %></h1>
          <p class="goToDescription"><a href="#details" class="scroll-to">Scroll to product details, material & care and sizing</a>
          </p>
          <p class="price"><%= @product.price %></p>
          <p class="text-center buttons">
            <% if @product.quantity > 0 %>
              <%= link_to t("add_to_cart"), items_path(product_id: @product.id), method: :post, remote: true, class: "btn btn-primary" %>
            <% else %>
              <button class = "btn btn-warning"><%= t "sold_out" %></button>
            <% end %>
            <a href="basket.html" class="btn btn-default"><i class="fa fa-heart"></i><%= t "add_to_wishlist" %></a>
          </p>
        </div>
      </div>
    </div>

    <div class="box" id="details">
      <h4><%= t "detail_product" %></h4>
      <blockquote>
        <div>
          <%= @product.description %>
        </div>
      </blockquote>

      <hr>
      <div class="social">
        <h4><% t "show_friends" %></h4>
        <p>
          <a href="#" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
          <a href="#" class="external gplus" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a>
          <a href="#" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
          <a href="#" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
        </p>
      </div>
      <% if logged_in? %>
      <%= render partial: "comments/form" %>
      <% else %>
      <%= link_to t("require_login_comment"), login_path, class: "btn btn-warning" %>
      <% end %>
    </div>
    <div class="box" id="comments">
      <h4><%= t "comment_section" %></h4>
      <hr>
      <div class="media comment-product">
        <%= render @product.comments %>
      </div>
    </div>

    <div class="row same-height-row">
      <div class="col-md-3 col-sm-6">
        <div class="box same-height">
          <h3><%= t "same_product" %></h3>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="product same-height">
          <div class="flip-container">
            <div class="flipper">
              <div class="front">
                <a href="detail.html">
                  <%= show_image @product %>
                </a>
              </div>
              <div class="back">
                <a href="detail.html">
                  <%= show_image @product %>
                </a>
              </div>
            </div>
          </div>
          <a href="detail.html" class="invisible">
            <img src="img/product2.jpg" alt="" class="img-responsive">
          </a>
          <div class="text">
            <h3>Fur coat</h3>
            <p class="price">$143</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="product same-height">
          <div class="flip-container">
            <div class="flipper">
              <div class="front">
                <a href="detail.html">
                  <img src="img/product1.jpg" alt="" class="img-responsive">
                </a>
              </div>
              <div class="back">
                <a href="detail.html">
                  <img src="img/product1_2.jpg" alt="" class="img-responsive">
                </a>
              </div>
            </div>
          </div>
          <a href="detail.html" class="invisible">
            <img src="img/product1.jpg" alt="" class="img-responsive">
          </a>
          <div class="text">
            <h3>Fur coat</h3>
            <p class="price">$143</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="product same-height">
          <div class="flip-container">
            <div class="flipper">
              <div class="front">
                <a href="detail.html">
                  <img src="img/product3.jpg" alt="" class="img-responsive">
                </a>
              </div>
              <div class="back">
                <a href="detail.html">
                  <img src="img/product3_2.jpg" alt="" class="img-responsive">
                </a>
              </div>
            </div>
          </div>
          <a href="detail.html" class="invisible">
            <img src="img/product3.jpg" alt="" class="img-responsive">
          </a>
          <div class="text">
            <h3>Fur coat</h3>
            <p class="price">$143</p>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
