<div id="footer" data-animate="fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <h4><%= t ".pages" %></h4>

        <ul>
          <li><a href="#"><%= t ".about" %></a>
          </li>
          <li><a href="#"><%= t ".term" %></a>
          </li>
          <li><a href="#"><%= t ".faq" %></a>
          </li>
          <li><a href="#"><%= t ".contact" %></a>
          </li>
        </ul>

        <hr>

        <h4><%= t ".pages" %></h4>

        <ul>
          <li><a href="#" data-toggle="modal" data-target="#login-modal"><%= t ".login" %></a>
          </li>
          <li><a href="#"><%= t ".register" %></a>
          </li>
        </ul>

        <hr class="hidden-md hidden-lg hidden-sm">

      </div>
      <!-- /.col-md-3 -->

      <div class="col-md-3 col-sm-6">

        <h4><%= t ".where_to_find" %></h4>

        <p><strong><%= t ".framgia_human" %></strong>
        </p>

        <a href="contact.html"><%= t ".contact_page" %></a>

        <hr class="hidden-md hidden-lg">

      </div>
      <!-- /.col-md-3 -->



      <div class="col-md-3 col-sm-6">

        <form>
          <div class="input-group">

            <input type="text" class="form-control">

            <span class="input-group-btn">

              <button class="btn btn-default" type="button"><%= t ".subscribe" %></button>

            </span>

          </div>
          <!-- /input-group -->
        </form>

        <hr>

        <h4><%= t ".stay_in_touch" %></h4>

        <p class="social">
          <a href="#" class="facebook external" data-animate-hover="shake"><i class="fa fa-facebook"></i></a>
          <a href="#" class="twitter external" data-animate-hover="shake"><i class="fa fa-twitter"></i></a>
          <a href="#" class="instagram external" data-animate-hover="shake"><i class="fa fa-instagram"></i></a>
          <a href="#" class="gplus external" data-animate-hover="shake"><i class="fa fa-google-plus"></i></a>
          <a href="#" class="email external" data-animate-hover="shake"><i class="fa fa-envelope"></i></a>
        </p>
      </div>
    </div>
  </div>
</div>

<div id="copyright">
  <div class="container">
    <div class="col-md-6">
      <p class="pull-left"><%= t ".copyright" %></p>

    </div>
  </div>
</div>
