<div id="top">
  <div class="container">
    <div class="col-md-6 pull-right top-header" data-animate="fadeInDown">
      <ul class="menu">
        <% if logged_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= t ".account" %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li class="divider"></li>
              <li>
                <%= link_to t(".logout"), logout_path, method: :delete %>
              </li>
            </ul>
          </li>
          <% unless current_user.permission != 1 %>
            <li><%= link_to t(".admin"), admin_root_path %></li>
          <% end %>
        <% else %>
          <li>
            <%= link_to t(".login"), login_path %>
          </li>
          <li>
            <%= link_to t(".register"), signup_path %>
          </li>
        <% end %>
        <li>
          <%= link_to t(".home"), root_path %>
        </li>
      </ul>
    </div>
  </div>
  <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="Login"><%= t ".customer_login" %></h4>
        </div>
        <div class="modal-body">
          <form action="customer-orders.html" method="post">
            <div class="form-group">
              <input type="text" class="form-control" id="email-modal" placeholder="email">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="password-modal" placeholder="password">
            </div>
            <p class="text-center">
              <button class="btn btn-primary"><i class="fa fa-sign-in"></i> <%= t ".login" %></button>
            </p>
          </form>
          <p class="text-center text-muted"><%= t ".not_registered_yet?" %></p>
          <p class="text-center text-muted"><a href="#"><strong><%= t ".register_now?" %></strong></a><%= t ".it_is_easy" %></p>
        </div>
      </div>
    </div>
  </div>
</div>
